<div class="jumbotron" ng-controller="editinstController">
    <div class="jumbotron text-center">
        <p>{{mensaje}}</p>
    </div>
    <form class="form_inst">
        <div class="form-group">
            <label for="">Nombre de la Instituciòn</label>
            <input type="text" class="form-control" id="" placeholder="Nombre de la instituciòn" required="true">
        </div>
        <div class="form-group">
            <label for="">Siglas de la Instituciòn</label>
            <input type="text" class="form-control" id="" placeholder="Siglas de la instituciòn">
        </div>
        <div class="form-group">
            <label for="">Descripciòn de la Instituciòn</label>
            <textarea class="form-control" id="" placeholder="Descripciòn de la instituciòn" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="">Telèfono de la Instituciòn</label>
            <input type="tel" class="form-control" id="" placeholder="Telèfono de la instituciòn">
        </div>
        <div class="form-group">
            <label for="">Pàgina Web de la Instituciòn</label>
            <input type="text" class="form-control" id="" placeholder="Pàgina Web de la instituciòn">
        </div>
        <div class="form-group">
            <label for="">Direcciòn de la Instituciòn</label>
            <textarea class="form-control" id="" placeholder="Direcciòn de la instituciòn" rows="5"></textarea>
        </div>
        <div class="form-group">
            <label for="">Fecha de Creaciòn</label>
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input" readonly="true">
        </div>
        <button type="button" class="btn btn-success">Crear instituciòn</button>
        <button type="button" class="btn btn-danger">Cancelar</button>
    </form>
</div>
