<div ng-controller="instController">
    <div class="container" ng-init="loadInstituciones()">
        <div class="form-group divBuscar" id="divBuscar">
            <!--<label for="txtBuscar" class="col-sm-1 control-label">Buscar:</label>-->
            <input type="text" class="form-control" id="txtBuscar" placeholder="Buscar Institucion" ng-model="search">
        </div>
        <div>
            <table class="table table-hover">
                <thead class="thead-blue">
                    <tr>
                        <th ng-show="false">Id</th>
                        <th>Nombre</th>
                        <th>Siglas</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Pagina Web</th>
                        <th ng-show="logeado && rol == 1 || rol == 2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="institucion in instituciones | toArray: false | filter:search">
                        <td ng-show="false">{{institucion.Id}}</td>
                        <td>{{institucion.Nombre}}</td>
                        <td>{{institucion.Siglas}}</td>
                        <td>{{institucion.Direccion}}</td>
                        <td>{{institucion.Telefono}}</td>
                        <td>{{institucion.PaginaWeb}}</td>
                        <td ng-show="logeado && rol == 1 || rol == 2">
                            <button type="button" class="btn btn-success btn-sm" ng-click="getInstitucion(institucion.Id)" data-toggle="modal" data-target="#AddInst">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm" ng-click="eliminarInstitucion(institucion.Id)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: right;"><a class="btn btn-link" ng-click="loadInstituciones()"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a> </td>
                       
                    </tr>
                </tfoot>
            </table>   
            <div>
                <a href="" ng-show="logeado && rol == 1 || rol == 2"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddInst" ng-click="SetObject()"><span class="glyphicon glyphicon-plus" aria-hidden="true" > </span> Crear Institución</button></a>
            </div>      
        </div>
    </div >
    <div ng-include="'views/PartialViews/AddInstitucion_PartialView.html'" scope="" onload=""></div>
</div>

    


