<div class="jumbotron" ng-controller="homeController">
    <div class="jumbotron text-center">
        <p>{{ mensaje }}</p>
    </div>
    <div class="row divRow" id="divRow">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="Image/cargos.png" alt="..." id="imagenHome" >
                <div class="caption" align="center">
                    <h3>CARGOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Agregar Cargo</a>
                        <a href="#" class="btn btn-success" role="button">Ver Cargos</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="Image/inst.png" alt="..." id="imagenHome" >
                <div class="caption" align="center">
                    <h3>INSTITUCIONES</h3>
                    <p>...</p>
                    <p>
                        <a href="#addinstitucion" class="btn btn-primary" role="button">Agregar Instituciòn</a>
                        <a href="#inst" class="btn btn-success" role="button">Ver Instituciones</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="Image/adduser.png" alt="..." id="imagenHome" >
                <div class="caption" align="center">
                    <h3>EMPLEADOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Agregar Empleado</a>
                        <a href="#" class="btn btn-success" role="button">Ver Empleados</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row divRow">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="Image/avatar_login.png" alt="..." id="imagenHome" >
                <div class="caption" align="center">
                    <h3>USUARIOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#" class="btn btn-primary" role="button">Agregar Usuario</a>
                        <a href="#" class="btn btn-success" role="button">Ver Usuarios</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>