<div class="jumbotron text-center" ng-controller="cargosController">
    <p>{{ mensaje }}</p>
    <div class="container">
        <table class="table table-condensed">
            <thead class="thead-blue">
                <tr>
                    <th>Nombre del cargo</th>
                    <th>Instituciòn</th>
                    <th>Descripciòn</th>
                    <th>Fecha de creaciòn</th>
                    <th>Acciones</th>
                </tr>
            </thead><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
                    "http://www.w3.org/TR/html4/loose.dtd">
            <html>
            <head>
                <title>|</title>
            </head>
            <body>
                <h1>|</h1>
                
            </body>
            </html>
            <tbody>
                <tr>
                    <td>Jefe de Infotecnologia</td>
                    <td>Secretarìa de Coordinaciòn General de Gobierno</td>
                    <td>Este cargo es el jefe del area de informatica de la Secretarìa de Coordinaciòn General del Gobierno</td>
                    <td>20/09/2016</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
                <tr>
                    <td>Jefe de Recursus Humanos</td>
                    <td>Secretarìa de Finanzas</td>
                    <td>Este cargo es el jefe del area de informatica de la Secretarìa de Finanzas</td>
                    <td>20/09/2016</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <a href=""><button type="button" class="btn btn-primary">Agregar Cargo</button></a>
</div>
