<div class="jumbotron jumbotronColor" ng-controller="homeController" ng-init="validarLogin()"> 
    <div class="row divRow">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnailShadown">
                <img src="Image/cargos.png" alt="..." style="height:192.52px;">
                <div class="caption captionIcon" align="center">
                    <h3>CARGOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#addcargo" class="btn btn-primary" role="button">Agregar</a>
                        <a href="#cargos" class="btn btn-success" role="button">Ver</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnailShadown">
                <img src="Image/inst.png" alt="..." style=" height:192.52px;">
                <div class="caption captionIcon" align="center">
                    <h3>INSTITUCIONES</h3>
                    <p>...</p>
                    <p>
                        <a class="btn btn-primary" role="button" data-toggle="modal" data-target="#AddInst">Agregar</a>
                        <a ng-click="listarInstituciones()" class="btn btn-success" role="button">ver</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnailShadown">
                <img src="Image/adduser.png" alt="..." style=" height:192.52px;">
                <div class="caption captionIcon" align="center">
                    <h3>EMPLEADOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#addempleado" class="btn btn-primary" role="button">Agregar</a>
                        <a href="#empleados" class="btn btn-success" role="button">Ver</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row divRow">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnailShadown">
                <img src="Image/avatar_login.png" alt="..." style=" height:192.52px;">
                <div class="caption captionIcon" align="center">
                    <h3>USUARIOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#adduser" class="btn btn-primary" role="button">Agregar</a>
                        <a href="#user" class="btn btn-success" role="button">Ver</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail thumbnailShadown">
                <img src="Image/oficina.png" alt="..." style=" height:192.52px;">
                <div class="caption captionIcon" align="center">
                    <h3>DEPARTAMENTOS</h3>
                    <p>...</p>
                    <p>
                        <a href="#adddepartamento" class="btn btn-primary" role="button">Agregar</a>
                        <a href="#departamentos" class="btn btn-success" role="button">Ver</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4" ng-show="rol == 1">
            <div class="thumbnail thumbnailShadown">
                <img src="Image/roles.png" alt="..." style=" height:192.52px;">
                <div class="caption captionIcon" align="center">
                    <h3>ROLES</h3>
                    <p>...</p>
                    <p>
                        <a href="#addrol" class="btn btn-primary" role="button">Agregar</a>
                        <a href="#rol" class="btn btn-success" role="button">Ver</a>
                    </p>
                </div>
            </div>
        </div>
    </div>   
</div>
<div>
    <div ng-controller="instController" ng-include="'views/PartialViews/AddInstitucion_PartialView.html'"></div>
    <div ng-include="'views/PartialViews/AddCargo_PartialView.html'"></div>
    <div ng-include="'views/PartialViews/AddEmpleado_PartialView.html'"></div>
    <div ng-include="'views/PartialViews/AddUsuario_PartialView.html'"></div>
    <div ng-include="'views/PartialViews/AddDepartamento_PartialView.html'"></div>
</div>


