<!DOCTYPE html>
<html lang="en" ng-app="scggApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Directorio Informatico</title>
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/toastr.min.css">
    <link rel="stylesheet" href="css/style/customStyle.css">
    <link rel="stylesheet" href="css/style/mainMenu.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet"> 
    <base href="http://localhost:8080/DirectorioSCGG/" >
</head>
<body>
    <div id="divPrincipal" ng-controller="indexController">
        <div id="header" >
            <div id="divMenuPrincipal" ng-controller="indexController">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="" ng-click="home()"><img id="imgLogo" src="Image/gd_logo.png" width="180px" height="45px"></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <nav class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#Instituciones" class="a">Instituciones</a></li>
                            <li ng-show="logeado && rol == 1 || rol == 2"><a href="#Cargos" class="a">Cargos</a></li>
                            <li ng-show="logeado && rol == 1 || rol == 2"><a href="#Empleados" class="a">Empleados</a></li>
                            <li ng-show="logeado && rol == 1 || rol == 2"><a href="#Departamentos" class="a">Departamentos</a></li>
                            <li ng-show="logeado && rol == 1 || rol == 2"><a href="#Usuarios" class="a">Usuarios</a></li>
                            <li ng-show="logeado && rol == 1 || rol == 2"><a href="#Roles" class="a">Roles</a></li>
                        </ul>
                            <!--<li><a data-toggle="modal" data-target="#1">Cargos</a></li>-->
                        <div>
                            <ul class="nav navbar-nav navbar-right" id="ul-login" >
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle" data-toggle="dropdown"  aria-haspopup="true"><img src="Image/user.png" id="aImg" width="28" height="28"></a>
                                    <ul id="login-ul" class="dropdown-menu login-ul" >
                                        <div id="divFormLogin">
                                            <li>
                                                <div id="formLogin">
                                                    <div id="imgLogin" class="imgLogin">
                                                        <img src="Image/login.ico" alt="">    
                                                    </div>
                                                    <div >
                                                        <form class="form" >
                                                            <div class="form-group">
                                                                <label class="sr-only" for="txtCorreo"><b>Correo</b></label>
                                                                <input id="txtCorreo" type="email" class="form-control" placeholder="Correo Electronico" required="true" ng-model="correo" ng-show="!logeado">
                                                                <p ng-show="logeado" class="label label-success"></p>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="sr-only" for="txtPassword"><b>Contraseña</b></label>
                                                                <input id="txtPassword" type="password" class="form-control" placeholder="Contraseña" required="true" ng-model="password" ng-show="!logeado" value="">         
                                                            </div>
                                                            <span class="psw" ng-show="!logeado">¿Olvido su <a href="" id="linkResetPass" data-toggle="modal" data-target="#resetPassModal">contraseña?</a></span>
                                                            <button type="submit" id="btnLogin" class="btn btn-primary btn-block" ng-click="iniciarSesion(correo, password)"  ng-show="!logeado">Login</button>
                                                            <button type="submit" id="btnLogout" class="btn btn-danger btn-block" ng-click="cerrarSesion()" ng-show="logeado">Cerrar Sesion</button> 
                                                        </form>
                                                    </div> 
                                                </div>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </nav>
            </div>
        </div>
        <ng-view id="viewBody">
        </ng-view> 
    </div>
    <footer>
        <div id="copyRigth" align="center">
            <p>Derechos Reservados Gobierno Digital 2016</p>
        </div>
    </footer>
</body>
<script src="js/public/jquery.min.js"></script>
<!-- <script src="js/public/jquery-2.2.3.intellisense.js"></script>-->
<script src="js/public/angular.min.js"></script>
<script src="js/public/angular-route.js"></script>
<script src="js/public/bootstrap.min.js"></script>
<script src="js/public/toastr.min.js"></script>
<script src="js/utilities/manageDOM.js"></script>
<script src="js/utilities/UtilToastMessage.js"></script>
<script src="js/angularControllers/routeController.js"></script>
<script src="js/appFactories/scggFactory.js"></script>
<script src="js/appService/scggService.js"></script>
<script src="js/angularControllers/indexController.js"></script>
<script src="js/angularControllers/homeController.js"></script>
<script src="js/angularControllers/institucionesController.js"></script>
</html>

