<div class="modal fade"  role="dialog" aria-labelledby="myModalLabel" id="AddInst"> 
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{titulo}}</h4>
            </div>
            <div class="modal-body">
                <form name="InstForm">
                        <div class="form-group" ng-class="{'has-error': InstForm.nombreIntitucion.$invalid && InstForm.nombreIntitucion.$dirty}"> 
                            <label for="txtNombreInstitucion">Nombre</label> 
                            <input type="text" class="form-control" id="txtNombreInstitucion" placeholder="Nombre de la Institución" ng-model="institucion.Nombre" required name="nombreIntitucion"> 
                        </div> 
                        <div class="form-group" ng-class="{'has-error': InstForm.siglas.$invalid && InstForm.siglas.$dirty}"> 
                            <label for="txtSiglas">Siglas</label> 
                            <input type="text" class="form-control" id="txtSiglas" placeholder="Siglas" ng-model="institucion.Siglas" required name="siglas">  
                        </div>
                        <div class="form-group" ng-class="{'has-error': InstForm.telefono.$invalid && InstForm.telefono.$dirty}"> 
                            <label for="txtTelefono">Telefono</label> 
                            <input type="text" class="form-control" id="txtTelefono" placeholder="Telefono" ng-model="institucion.Telefono" required name="telefono">  
                        </div>
                        <div class="form-group" ng-class="{'has-error': InstForm.direccion.$invalid && InstForm.direccion.$dirty}"> 
                            <label for="txtDireccion">Direccion</label> 
                            <input type="text" class="form-control" id="txtDireccion" placeholder="Direccion" ng-model="institucion.Direccion" required name="direccion">  
                        </div> 
                        <div class="form-group" ng-class="{'has-error': InstForm.paginaWeb.$invalid && InstForm.paginaWeb.$dirty}"> 
                            <label for="txtPaginaWeb">Pagina Web</label> 
                            <input type="text" class="form-control" id="txtPaginaWeb" placeholder="Pagina Web" ng-model="institucion.PaginaWeb" required name="paginaWeb">  
                        </div>
                        <div class="form-group" > 
                            <label for="txtDescripcion">Descripcion</label> 
                            <textarea id="txtDescripcion" class="form-control" ng-model="institucion.Descripcion"></textarea>
                        </div>
                        <div class="form-group" ng-show="!crear"> 
                            <label for="estado">Estado</label> 
                            <label class="radio-inline"><input type="radio" ng-model="institucion.Estado" name="estado"   ng-value="1">Activar</label>
                            <label class="radio-inline"><input type="radio" ng-model="institucion.Estado" name="estado"  ng-value="2">Desactivar</label>
                        </div> 
                         <button type="submit" class="btn btn-success" data-dismiss="modal" id="btnEditarInstruccion" ng-click="editarIstitucion()" ng-show="!crear">Editar</button> 
                         <button type="submit" class="btn btn-success" data-dismiss="modal" id="btnCrearInstitucion" ng-click="crearInstitucion()" ng-show="crear">Guardar</button>                                      
                  </form>
            </div>
        </div>
    </div>    
</div>    
